@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";
@import "../../../assets/styles/global";

.main {
  .container {

    .main-carousel {
      position: relative;

      .main-item {
        width: 100%;
        height: 500px;

        .main-item-head {

          .main-item-image {
            width: 100%;
            height: 500px;
            background-position: center;
            background-size: cover;
          }
        }

        .owl-them .owl-nav.disabled + .owl-dots {
          color: #FFFFFF;
          margin-top: -35px !important;
          z-index: 10;
        }
      }

      .main-button {
        display: flex;
        top: calc(50% + 101px);
        left: 80px;
        width: 163px;
        font-size: 16px;
        height: 51px;
        position: absolute;
        z-index: 10;
      }

      .main-arrows {
        display: flex;

        a {
          top: calc(50% - 14px);
          display: flex;
          position: absolute;
          cursor: pointer;
          z-index: 10;

          &.move-backward {
            left: 10px;
          }

          &.move-forward {
            right: 10px;
          }
        }
      }
    }
  }
}


.our-offers {

  .container {
    padding-top: 120px;
    padding-bottom: 120px;

    .our-offers-title {
      @include head-lora-38;
    }

    .our-offers-items {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
      gap: 26px;

      .our-offers-item {
        width: 290px;
        height: 498px;
        box-sizing: border-box;
        position: relative;
        margin-bottom: 0;
        padding-bottom: 0;

        &:first-child {
          .our-offers-info {
            margin-top: 33px;
          }
        }

        &.is-light {
          height: auto;
          cursor: pointer;
        }

        .our-offers-favorite {
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          z-index: 2;
        }

        .our-offers-image {
          width: 100%;
          height: 291px;
          border-radius: 5px;
          background-size: cover;
          background-position: center;
        }

        .our-offers-title {
          font-weight: 500;
          font-size: 20px;
          line-height: 130%;
          color: $blue-text-color;
          margin-top: 15px;
        }

        .our-offers-description {
          font-weight: 400;
          font-size: 14px;
          margin-top: 10px;
        }

        .our-offers-info {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-bottom: 0;
          margin-top: 15px;

          &:first-child {
            margin-top: 33px;
          }

          .our-offers-price {
            font-size: 20px;
            font-weight: 600;
            line-height: 130%;
            color: $blue-text-color;
          }

          .our-offers-action .button {
            width: 163px;
          }
        }
      }
    }
  }
}

.info {
  background-color: #FFFFFF;
  background-image: url("../../../assets/images/page/we.png");
  background-repeat: no-repeat;
  background-position-x: calc(50% - 390px);
  padding: 0;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .content {
      margin-left: 508px;

      .info-title {
        padding-top: 0;
        @include head-lora-38;
        margin-bottom: 20px;
      }

      .info-text {
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        width: 633px;
      }

      .info-text-extra-title {
        margin-top: 40px;
        @include head-lora-26;
        margin-bottom: 20px;
      }

      .info-text-extra-items {
        display: grid;
        grid-template-columns: 1fr 316px;
        // max-width: 712px;
        gap: 20px 71px;

        .info-text-extra-item {
          display: flex;
          flex-direction: row;
          align-items: start;
          justify-content: start;
          max-width: 312px;

          .info-text-extra-number {
            position: relative;
            font-size: 50px;
            font-family: 'Lora', sans-serif;
            font-weight: 500;
            color: $blue-text-color;
            background-color: #B9D5FD;
            width: 170px;
            height: 40px;
            border-radius: 50%;
            box-sizing: border-box;
            cursor: pointer;
            margin-top: 33px;
            transition: all 300ms ease 0s;
            margin-right: 20px;

            .info-text-extra-number-span {
              position: absolute;
              left: calc(50% - 11.5px);
              bottom: -6px;
              z-index: 11;
            }

            &:hover {
              color: #4B82C7FF;
              background-color: #8ca5da;
            }
          }

          .info-text-extra-text {
            display: flex;
            align-items: start;
            text-align: start;
            color: $gray-light-text-color;
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
          }
        }
      }
    }
  }
}

.popular-articles {
  padding-top: 120px;
  padding-bottom: 120px;

  display: flex;

  .container {

    .popular-articles-title {
      @include head-lora-38;
    }

    .popular-articles-items {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 40px;
      padding-bottom: 40px;
      gap: 24px;
    }

    .popular-articles-action {
      display: flex;
      justify-content: end;
      align-items: center;
      margin-bottom: 0;

      a {
        font-weight: 500;
        font-size: 20px;
        text-decoration: none;
        color: $blue-text-color;
      }

      svg {
        margin-left: 14px;
      }
    }
  }
}

.reviews {
  margin-bottom: 120px;

  .container {

    .reviews-title {
      text-align: start;
      @include head-lora-38;
      margin-bottom: 20px;
    }

    .reviews-carousel {
      position: relative;

      .review-item {
        width: 396px;
        height: 267px;
        padding: 30px;
        border: 2px solid $blue-text-color;
        border-radius: 5px;
        box-sizing: border-box;

        .review-item-head {
          display: flex;
          align-items: center;

          .review-item-image {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-position: center;
            background-size: cover;
            margin-right: 26px;
          }

          .review-item-name {
            font-size: 18px;
            font-weight: 600;
            color: $blue-text-color;
          }
        }

        .review-item-text {
          margin-top: 15px;
          font-size: 16px;
          line-height: 140%;
        }
      }

      .reviews-arrows {
        display: flex;

        a {
          top: calc(50% - 5px);
          display: flex;
          position: absolute;
          z-index: 10;
          cursor: pointer;

          &.move-backward {
            left: -20px;
          }

          &.move-forward {
            right: -20px;
          }
        }
      }
    }
  }
}

.map-and-contacts {

  .container {
    display: flex;
    flex-direction: row;
    margin-bottom: 120px;

    .map {
      width: 607px;
      margin-right: 26px;
    }

    .contacts {
      display: flex;
      flex-direction: column;
      align-items: start;

      .head-contacts {
        @include head-lora-38;
        margin-bottom: 20px;
      }

      .contacts-info-items {

        .contacts-info-item {

          .contacts-info-item-head {
            font-weight: 500;
            font-size: 20px;
            color: $blue-text-color;
            margin-bottom: 10px;
          }

          .contacts-info-item-body {
            font-weight: 400;
            font-size: 14px;
            margin-bottom: 20px;

            &:last-child svg {
              margin-right: 20px;
            }
          }
        }
      }
    }
  }
}

.order-popup {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 727px;
  height: 489px;
  position: relative;


  .order-popup-close {
    position: absolute;
    cursor: pointer;
    top: 30px;
    right: 30px;
  }

  .auth-form {
    text-align: center;
    margin-bottom: 86px;

    .auth-title {
      @include head-lora-38;
      margin-bottom: 20px;
      width: 406px;
      text-align: center;

      &.thanks {
        width: 443px;
      }
    }

    .auth-inputs {
      margin-bottom: 20px;

      .auth-input {

      }
    }

    .popup-text {
      font-weight: 500;
      font-size: 14px;
      color: $gray-light-text-color;
    }

    .auth-button {
      margin-top: 0;

      .ok {
        width: 73px;
        padding: 10px 20px;
        font-size: 12px;
        margin-top: 20px;
      }
    }
  }
}


