<div class="product-card" *ngIf="article">
  <div class="product-card-image">
    <div class="product-card-item-type">

<!--      <button  type="button" class="button-transparent"   routerLink="/articles">{{article.category}}</button>-->
      <button class="button-transparent" >{{article.category}}</button>
    </div>
    <div class="product-card-image" style="background-image: url({{serverStaticPath + article.image}})"></div>
  </div>
  <div class="product-card-item-head">{{article.title}}</div>
  <div class="product-card-item-text">
    {{article.description}}
  </div>
  <div class="product-card-extra">
    <a  routerLink="/articles/{{article.url}}">Читать дальше</a>
  </div>
</div>



