@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.comment {
  margin-top: 40px;

  .container {

    .comment-avatar {
      display: flex;
      align-items: center;

      img {
        background-color: $blue-light-text-color;
        border-radius: 50%;
        border: 2px solid #709FDC;
        box-sizing: border-box;
        width: 60px;
        height: 60px;
        margin-right: 26px;
      }

      .commenter-name {
        font-weight: 600;
        font-size: 18px;
        color: $blue-text-color;
      }

      .commenter-date {
        font-weight: 600;
        margin-top: 10px;
        color: #BEBEBE;
      }
    }

    .comment-content {
      margin-top: 15px;

      .comment-text {
        font-size: 14px;
        margin-bottom: 39px;
      }
    }
  }
}
