<div class="comment">
  <div class="container">
    <div class="comment-avatar">
      <img src="../../../../assets/images/comments/icons/avatar.png" alt="avatar">
      <div class="comment-avata-info">
        <div class="commenter-name">{{comment?.user?.name}}</div>
        <div class="commenter-date">{{comment?.date  | date : 'dd.MM.yyyy HH:mm'}}</div>
      </div>
    </div>
    <div class="comment-content">
      <div class="comment-text">
        {{comment?.text}}
      </div>
      <count-selector [action]="action" (onCountChange)="updateCount($event)"></count-selector>
    </div>
  </div>
</div>
