@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.comment-reaction {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .comment {
    display: flex;
    align-items: center;
    margin-right: 15px;

    .counter {
      font-weight: 600;
      font-size: 14px;
      margin-right: 3px;

      &.active {
        color: $blue-text-color;
      }
    }

    .reaction {
      svg {
        cursor: pointer;

      &.active {
        stroke: $blue-text-color;
      }
      }
    }
  }
}
