@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.catalog {
  padding-top: 80px;
  padding-bottom: 120px;

  .container {

    .catalog-title {
      @include head-lora-38;
      margin-bottom: 40px;
    }

    .catalog-head {
      display: flex;
      justify-content: space-between;
      align-items: baseline;


      .catalog-applied-filters {
        display: flex;
        flex-wrap: wrap;

        .catalog-applied-filter {
          border: 1px solid $blue-text-color;
          border-radius: 5px;
          font-size: 16px;
          color: $blue-text-color;
          padding: 8px 20px;
          display: flex;
          align-items: center;
          margin-right: 20px;
          margin-bottom: 20px;

          a {
            text-decoration: none;
            cursor: pointer;
            display: flex;
            margin-left: 8px;
          }
        }
      }


      .catalog-filter {
        width: 190px;
        min-width: 190px;
        box-sizing: border-box;
        position: relative;
        font-size: 16px;
        cursor: pointer;


        .catalog-filter-head {
          display: flex;
          align-items: center;
          padding: 12px 0 12px 23px;
          justify-content: space-between;
          color: $gray-text-color;
          margin-bottom: 56px;
          span {
            margin-right: 8px;
          }
        }

        .catalog-filter-body {
          position: absolute;
          width: 100%;
          box-sizing: border-box;
          z-index: 3;
          display: none;
          padding: 12px 23px;
          background: #FFFFFF;
          border-radius: 0 0 5px 5px;
          color: #BEBEBE;

          .catalog-filter-item {
            display: flex;
            justify-content: space-between;
            margin-bottom: 14px;
            cursor: pointer;

            &:last-child {
              margin-bottom: 0;
            }

            &.active {
              color: $gray-text-color;
            }
          }
        }

        &.open {
          width: 257px;
          min-width: 257px;
          .catalog-filter-head {
            color: $gray-text-color;
            background: $blue-light-text-color;
            border-radius: 5px 5px 0 0;
            padding-right: 23px;
            margin-bottom: 0;
          }

          .catalog-filter-body {
            display: block;
          }
        }
      }
    }

    .catalog-content {


      .catalog-filters {
        margin-right: -58px;
      }

      .catalog-products {
        display: grid;
        grid-template-columns: repeat(4, 292px);
        gap: 40px 24px
    }
    }

    .pagination {
      margin-top: 60px;
      display: flex;
      align-items: center;
      justify-content: center;

      .pagination-arrow {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        &.disabled {
          opacity: 0.5;
        }
      }

      .pagination-pages {
        margin-left: 40px;
        margin-right: 40px;
        display: flex;
        align-items: center;

        a.pagination-page {
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          width: 32px;
          height: 46px;
          margin-right: 20px;
          cursor: pointer;
          font-size: 20px;
          color: $gray-text-color;

          &.active {
            color: $blue-light-text-color;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}

