@import "../../../../assets/styles/auth-form";

.signup {

  .container {
    display: flex;
    align-items: center;

    .page-image {
      margin-left: 185px;

      img {
        align-items: center;
      }
    }

    .auth-checkbox {
      align-items: flex-start;

      input {
        margin-top: 4px;
      }
    }

    .auth-button {
      margin-top: 43px;
    }
  }
}
